html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

#readme::before {
  content: "×";
}

input[type="radio"],
.hidden {
  display: none;
}

body,
button,
.mapboxgl-popup-content {
  font-family: 'Rampart One', "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

dialog h2,
dialog button,
.mapboxgl-popup-content,
.mapboxgl-popup-close-button {
  color: orange;
}

label,
#readme {
  border: solid 1px;
  color: orange;
}

h1,
nav,
input[type=radio]:checked+label {
  color: #fff;
  background: orange;
}

label,
#readme,
#button:hover {
  color: orange;
  background: #fff;
}

nav fieldset {
  border: none;
}

#readme,
dialog {
  border-radius: 0.5rem;
}

button,
label {
  transition: 1s;
}

dialog button,
#readme::before {
  font-size: 250%;
}

dialog h2 {
  font-size: 200%;
}

h1,
.mapboxgl-popup-content {
  font-size: 150%;
}

.mapboxgl-popup-close-button {
  font-size: 125%;
}

.mapboxgl-popup-content {
  line-height: 150%;
}

h1,
dialog h2,
#button {
  writing-mode: vertical-rl;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

button:hover,
label:hover,
.mapboxgl-marker:hover,
.mapboxgl-popup-close-button:hover,
#readme:hover {
  cursor: pointer;
}

body,
#map {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0.5rem 0;
  margin: 0;
}

label {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

nav fieldset legend {
  padding-top: 0.5rem;
  margin: 0;
}

nav fieldset {
  padding: 0.5rem 0.5rem 0.75rem;
}

#readme {
  padding: 1rem;
}

.mapboxgl-popup-content b {
  padding: 1rem 0.5rem 0.75rem;
  display: block;
}

dialog h2 {
  padding: 0.5rem 0;
  margin: 0;
}

.mapboxgl-popup-close-button {
  padding: 0 0.25rem;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

dialog {
  display: none;
}

body,
nav,
dialog[open] {
  display: flex;
}

body,
dialog {
  flex-flow: column;
}

dialog {
  align-items: flex-start;
  place-content: space-between;
}

nav {
  justify-content: space-between;
  flex-wrap: wrap;
}

#map {
  width: 100%;
  height: 100%;
}

dialog h2 {
  text-shadow:
    -1px -1px 0 #fff,
    -2px -2px 0 #fff,
    -3px -3px 0 #fff,
    -4px -4px 0 #fff;
}

dialog {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid orange;
  width: calc(90dvh * 0.65);
  height: 90%;
  overflow: hidden;
}

#readme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 95%;
  max-width: 750px;
  max-height: 95%;
  z-index: 10;
}

#readme::before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  margin: 0;
}

.mapboxgl-marker {
  background: orange;
  border: 2px #fff solid;
  border-radius: 50%;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
}

#modal::backdrop {
  backdrop-filter: blur(0.1rem);
}